<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<test name="Smoke Suite">
		<classes>
			<class name="com.TestCases.Admin.Admin_SmokeTestCase"></class>
		</classes>
	</test>
	<test name="Reports Suite">
		<classes>
			<class name="com.TestCases.Admin.Admin_ReportsTestCases"></class>
		</classes>
	</test>
	<test name="Sanity Suite">
		<classes>
			<class name="com.TestCases.Admin.Admin_SanityTestCases"></class>
		</classes>
	</test>
	<test name="Application Suite">
		<classes>
			<class
				name="com.TestCases.Admin.Sanity_OtherProductionApplicationsTestCases"></class>
		</classes>
	</test>
</suite>